body {
  font-family: sans-serif;
  max-width: 40em;
  margin: auto;
}

.com{color:#777; font-style:italic;}
.kwd{color:#080;font-weight:bold;}
.lit{color:#00F;}
.pln{color:#000;}
.pun{color:#606;}
.str,.atv{color:#800;}
.tag{color:#006;}
.typ,.atn,.dec{color:#600;}
