body {
  font-family: sans-serif;
  max-width: 40em;
  margin: auto;
}

pre, blockquote { // TODO: refactor out.
  overflow: auto;
  &.prettyprint, &.boxout {
    border: 1px solid #888;
    padding: 0.5em;
    background: #ffffff;
  }
  &.boxout {
    font-family: serif;
  }
}
blockquote {
  font-family: serif;
}

.com{color:#777; font-style:italic;}
.kwd{color:#080;font-weight:bold;}
.lit{color:#00F;}
.pln{color:#000;}
.pun{color:#606;}
.str,.atv{color:#800;}
.tag{color:#006;}
.typ,.atn,.dec{color:#600;}
